#textP {
  text-align: justify;
  margin: 1% 25%;
  font-size: large;
}
#textEnd {
  text-align: justify;
  margin: 1% 25%;
  margin-bottom: 60px;
  font-size: large;
}

#textH2 {
  text-align: center;
  margin: 1% 25% 3%;
}

#textH3 {
  text-align: center;
  margin: 1% 25%;
}

#textH1 {
  margin-top: 60px;
  text-align: center;
}
