#icon_prefix2{
    min-height: 10rem;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 44px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.75);
}

#input_form{
    background-color: rgba(255, 255, 255, 0.8);
}

#contactBoton{
    margin-left: 50%;
    margin-bottom: 50px;
}

#header{
    margin-top: 60px;
}

.alert-success{
    margin-top: 60px;
    font-size: 23px;
    color: #4cc14c;
    font-weight: bold;
}
