.a {
  color: aliceblue;
}
#footerT {
}

#contFooter {
  width: 100%;
}

#wpFooter {
  margin-top: -13px;
  margin-bottom: -15px;
  margin-left: -21px;
}

#iconFooter {
  margin-left: 100px;
}

#linkList {
  color: aliceblue !important;
}

.page-footer {
  padding-top: 20px;
  color: #fff;
  background-color: #cb1f30;
  min-height: 28rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}