#imgCart {
  width: 40%;
}

#tdCart {
  width: 25%;
}

#inptCartCant {
  width: 20%;
  text-align: center;
}

#noHayElementos {
  font-size: 6rem;
  margin-top: 4rem;
  margin-left: 13%;
  min-height: 30rem;
}

button {
  cursor: pointer;
  width: 40%;
}

.cart {
  width: 80%;
  padding-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0%;
  padding-bottom: 1%;
}

.centerField {
  text-align: center;
}

td,
th {
 text-align:center;
}